*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,span,p,img{
	cursor: pointer;
}
a{
	text-decoration: none;
	color:#000;
}
ul,ol{
	list-style: none;
}
.u-l{
	float: left;
}
.u-r{
	float: right;
}
/*清除浮动*/
.u-clearfix:after{
	content: "";
	display: block;
	clear: both;
}
