*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
}
.flex{
    width: 100%;
    height: 100vh;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}
.flex-frist{
    background-color: rgb(219, 193, 244);
    overflow-y: scroll;
    flex: 1;
}
.flex-first-title {
    height: 60px;
}

.flex-first-content {
    height: 1000px;
}  
.flex-second{
    height: 50px;
    line-height: 50px;
    background-color: rgba(20, 22, 128, 0.2);
    display: flex;
}
.flex-second div{
    width: 33.3%;
    text-align: center;
}






